<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluación uno - Programación Back-End</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body class="container mt-5">

    <div class="text-center display-8">Evaluación uno - Programación Back-end</div>
    <div class="text-center display-6">{{producto}}</div> <br><br>

    <center><img src="{%static 'img/'%}{{imagen}}" height="300px" alt=""><br><br></center>

    <div class="text-center">{{descripcion}}</div>
    
    
    <a href="/" class="btn btn-outline-info mt-5"><i class="bi bi-reply-fill"></i>Volver</a>


</body>
</html>